/* GENERAL */
:root {
    --color1: #202124;
} 
html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-size: 1.8rem;   
    color: white;
}

body {
    background-color: var(--color1);
    margin: 0;
    padding: 0;
}

/* CONTENIDO */
main {
    display: grid;
    place-items: center;
    min-height: 100vh;
}
input {
    color: black;
}